<template>
  <div class="section">
        <div class="tabla-responsive">
          <table class="table table-bordered">
            <thead>
                <tr>
                  <td>ID</td>
                  <td>NOMBRE</td>
                  <td>APELLIDOS</td>
                  <td>F. NACIMIENTO</td>
                  <td>F. INGRESO</td>
                  <td>AFP</td>
                  <td>CARGO</td>
                  <td>SUELDO</td>
                </tr>
            </thead>
            <tbody id="cargaListaEmpleados">
              
            </tbody>

          </table>
        </div>  
    </div> 
</template>
<script>
export default {
   
}
</script>